body {
    background-image: url('../../Images/r17a.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

.a1 {
    position: absolute;
    top: 10%;
    left: 5%;
}

h2 {
    color: aliceblue;
}

.a2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
