
@{
    ViewBag.Title = "getEmployee";
    //Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2>getEmployee</h2>

@ViewData["Profile"]

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>


    $(document).ready(function () {

        var profile = @Html.Raw(ViewData["Profile"]);
        var keys = Object.keys(profile); 

        $.each(keys, function (index, element) {
            $("#" + element).val(profile[element]);
        });

    });

</script>


<body>
    <form name="myForm" method="post">

        <h1>Profile</h1>


        <input class="un" type="text" align="center" placeholder="Name" name="Name" id="Emp_Name" readonly />
        <input class="un" type="text" align="center" placeholder="Emp ID" name="title" id="Emp_ID" />
        <input class="un" type="text" align="center" placeholder="E-mail" name="title" id="Emp_Email" />
        <input class="un" type="text" align="center" placeholder="Mobile No" name="title" id="Mobile_Num" />
        <input class="un" type="text" align="center" placeholder="Role" name="title" id="Emp_Role" />
        <input class="un" type="text" align="center" placeholder="Department ID" name="title" id="Dept_ID" />
        <input class="un" type="text" align="center" placeholder="Group ID" name="title" id="Group_ID" />
        <input class="submit" type="submit" value="Update">


    </form>

</body>
