
@{
    ViewBag.Title = "getGroupsinDept";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2>Groups in  </h2>

<link href="~/Forallviews.css" rel="stylesheet" />
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            document.getElementById('unassigned').setAttribute('href', '/Role/unassigneddept/' + @Html.Raw(ViewBag.deptid));
            var emp =  @Html.Raw(ViewData["Emp"]);

            var groups = @Html.Raw(ViewData["GroupsinDept"]);

            $.each(groups, function (index, element) {
                $('#content').append(

                    '<div class="card" style="width: 18rem;"><div class="card-body" id="grpcard' + element.Group_ID + '" ><h5 class="card-title">'
                    + element.Group_ID + '</h5><h6 class="card-subtitle mb-2 text-muted">'
                    + element.Group_Name + '</h6><p class="card-text">' + element.Dept_ID + '</p><a href="/Role/getGroupMembers/' + element.Group_ID + '" ' + 'class="btn btn-primary">View Group Members</a></div></div>'

                );
                if (emp["Emp_Role"] == "Admin") {
                    //alert
                    var cardid = '#grpcard' + element.Group_ID;
                    $(cardid).append(
                        '<a href="/Role/getGroupMembers/'
                        + element.Group_ID + '" ' + 'class="btn btn-primary" > Edit Group</a>'
                    );
                }

            });
            
            
            //if()
        });
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>

<body>
    <div class="a1">
        <h2> Groups </h2>
        <div class="a2" id="content">
          <a class="btn btn-secondary" id="unassigned">View Unassigned to any Group</a>
        </div>
        </div>
</body>

