
@{
    ViewBag.Title = "getAssignedTickets";
}

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            var tickets = @Html.Raw(ViewData["AssignedTickets"]);

            $.each(tickets, function (index, element) {
                $('#content').append(
                    $('<li>').append(
                        '<div class="card" style="width: 18rem;"><div class="card-body"><h5 class="card-title">'
                        + element.Ticket_ID + '</h5><h6 class="card-subtitle mb-2 text-muted">'
                        + element.Status_Info + '</h6><p class="card-text">' + element.Title + '</p><a href="/Ticket/getTicket/' + element.Ticket_ID + '" ' + 'class="btn btn-primary">View Ticket</a></div></div>'
                    ));
            });
        });
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body {
            background-image: url('../../Images/r16a.jpg');
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .a1 {
            position: absolute;
            left: 5%;
            top: 15%;
            right: 50%;
            bottom: 10%;
            background-color: snow;
        }

        .a2 {
            position: absolute;
            left: 10%;
            top: 10%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: black;
            /*background: linear-gradient(to right, #9C27B0, #E040FB);*/
        }

        .a3 {
            position: fixed;
            left: 80%;
            top: 78%;
        }

        .a4 {
            position: absolute;
            top: 60%;
        }

        span {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <div class="a3">
      
        <img src="~/Images/Win.png" />
    </div>
    <div class="a1">
        <h2>Tickets</h2>

        <div class="a2">
            <ul class="list-group" id="content">
              
            </ul>
        </div>
    </div>
</body>


