
@{
    ViewBag.Title = "createGrp";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link href="~/Forallviews.css" rel="stylesheet" />

<h2>createGrp</h2>

<body>
    <form method="post">
        <div>
            <label>Group id</label>
            <input type="number" value="Groupid" name="Grp_ID" id="Group_ID" required />
            <label>Group Name</label>
            <input type="text" value="Groupname" name="Grp_Name" id="Group_Name"  required/>
            <label>Deptid</label>
            <input type="number" value="Deptid" name="deptid" id="Dept_ID" required/>
            <label>Leadid</label>
            <input type="number" value="Leadid" name="teamleadid" id="Team_Lead_ID"  />
            <input type="submit" value="Create" />

        </div>
        <div>

            <h1>@ViewBag.msg</h1>;


        </div>

    </form>
</body>