@*@model ServiceDesk.Models.emp1*@
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome</title>
<link href="~/LoginSheet.css" rel="stylesheet" />
</head>

<body>
    <h1>WinWire Service Desk</h1>
    <div class="a1">
        <div class="a2">
            
        </div>
        <div class="a7">
            <h4>Great Place To Work</h4>
        </div>

        <div class="a3">
            <p class="sign" align="center">Sign in</p>

            <form name="myForm"  method="post" required>
                <input class="un " type="number" align="center" placeholder="Username" name="empid" id="empid" required>
                <input class="pass" type="password" align="center" placeholder="Password" name="pass_word" id="pass_word" required>

                <input class="submit" type="submit" align="center" value="Sign in">
                <p class="forgot" align="left"><a href="" />Forgot Password?</p>
            </form>
        </div>
        <div class="a4">
            <img src="~/Images/werr.jpg" width="615" height="150" />
        </div>
        <div class="a5">
            <p><a href="https://www.winwire.com/" />WinWire Technologies</p>

        </div>


    </div>
</body>
</html>